<h2 class="headline">Корпоративный сайт</h2>
<ul class="shop-ul">
	<h2 class="headline">Что вы получите:</h2>
	<li>
		<div class="spoiler-link">
		<div class="description_icons">
			<svg viewBox="0 0 100 100">
				<use xlink:href="/img/Description_icons.svg#Cms_icon" ></use>
			</svg>
			</div>
			<h2>Удобная система добавления контента</h2>
			<div class="spoiler-body">
				<p>Вы сможете добавлять любую текстовую или графическую информация на ваш сайт, без ограничения по количеству страниц. Благодаря визуальной, интуитивной системе управления контентом, Вам не потребуется никакие технические знаний для обновления, добавления и редактирования информации.</p>
			</div>
		</div>
	</li>
	<li>
		
		<div class="spoiler-link">
		<div class="description_icons">
			<svg viewBox="0 0 100 100">
				<use xlink:href="/img/Description_icons.svg#Card_icon" ></use>
			</svg>
			</div>
			<h2>Персонализация</h2>
			<div class="spoiler-body">
				<p>Не беспокойтесь о том, что ваш сайт будет выглядеть как и все другие, мы разработаем индивидуальный дизайн с удобным интуитивно-понятным интерфейсом, исходя из ваших требований. Сайт будет адаптирован и одинаково удобным, как на компьютере, так и на смартфоне или планшете.</p>
			</div>
		</div>
	</li>
	<li>
	
		<div class="spoiler-link">
		<div class="description_icons">
			<svg viewBox="0 0 100 100">
				<use xlink:href="/img/Description_icons.svg#News_icon" ></use>
			</svg>
			</div>
			<h2>Новости</h2>
			<div class="spoiler-body">
				<p>Держите ваших клиентов в курсе последний событий происходящий с вашей компанией, уведомляйте об обновление продуктов, акциях и вакансиях.</p>
			</div>
		</div>
	</li>
	<li>
		<div class="spoiler-link">
		<div class="description_icons">
			<svg viewBox="0 0 100 100">
				<use xlink:href="/img/Description_icons.svg#Mail_icon" ></use>
			</svg>
			</div>
			<h2>Корпоративная почта</h2>
			<div class="spoiler-body">
				<p>Вы получите уникальный корпоративный email адрес с названием вашей фирмы, вида service@site-core.ru Можно организовать большую корпаративную сеть и подключить к ней всех ваших сотрудников, управлять доступом к различным перепискам, создавать email конференции для совместного решения различных вопросов.</p>
			</div>
		</div>
	</li>
</ul>
<div class="shop-prev"><h2 class="headline">Примеры корпоративных сайтов</h2>
<div></div>
</div>

<script>
$( ".spoiler-link" ).click(function() {
if($('.spoiler-body', this).is(":visible")){
	$('h2', this).css('color','');		
} else {
	$('h2', this).css('color','#d7844d');
}
$('.spoiler-body', this).stop().slideToggle(300);
});
</script>
