
<a href="#" class="side_arrow side_arrow_left">
<svg viewBox="0 0 150 50">
<use id="svg_arrow" xlink:href="/img/arrow_right.svg#arrow_left" ></use>
</svg>
</a>
<a href="#" class="side_arrow side_arrow_right">
<svg viewBox="0 0 150 50">
<use id="svg_arrow" xlink:href="/img/arrow_right.svg#arrow_right" ></use>
</svg>
</a>
<h2 class="headline">Интернет магазин</h2>
<ul class="shop-ul">
<h2 class="headline">Преимущества интернет магазина</h2>
	<li>
		
		<div class="spoiler-link">
		<svg class="description_icons" viewBox="0 0 56 56"></svg>
			<h2>Легкое управление интернет магазином</h2>
			<div class="spoiler-body">
				<p>Несмотря на то, что магазин идеально подходит новичкам, функционал магазина от этого никак не пострадал, и его с легкостью могут использовать профессионалы. Для создания своего магазина с нуля вам не нужны знания языков программирования и настройки серверов: все действия происходят через браузер в интуитивно-понятном интерфейсе. Даже если у вас возникнут вопросы, вы всегда сможете получить помощь.</p>
			</div>
		</div>
	</li>
	<li>
		
		<div class="spoiler-link">
		<svg id="svg1" class="description_icons" viewBox="0 0 56 56"></svg>
			<h2>Управление и настройка, через удобную Админ-панель.</h2>
			<div class="spoiler-body">
				<p>
Основное управление и настройка магазина происходит через Админ-панель. Здесь вы можете добавлять товары, загружать прайс-листы, управлять заказами, настраивать способы доставки товаров, создавать подробные отчеты, настраивать матрицы скидок/наценок на товары и многое другое.</p>
			</div>
		</div>
	</li>
	<li>
		<div class="spoiler-link">
			<svg class="description_icons" viewBox="0 0 56 56"></svg>
			<h2>Персонализация</h2>
			<div class="spoiler-body">
				<p>
Не беспокойтесь о том, что ваш магазин будет выглядеть как и все другие. Вы можете полностью преобразить дизайн магазина: с помощью встроенного html-редактора, или выбрав один из множества уже готовых шаблонов.</p>
			</div>
		</div>
	</li>
	<li>
		
		<div class="spoiler-link">
		<svg class="description_icons" viewBox="0 0 56 56"></svg>
			<h2>Управление товарами</h2>
			<div class="spoiler-body">
				<p>
Неважно, большой или маленький магазин вы хотите создать. В нашем интернет-магазине вы можете продавать материальные и электронные товары, электронные коды или услуги. Функционал управления товарами покажется вам простым и понятным.</p>
			</div>
		</div>
	</li>
	<li>
		
		<div class="spoiler-link">
		<svg class="description_icons" viewBox="0 0 56 56"></svg>
			<h2>Доставка товаров</h2>
			<div class="spoiler-body">
				<p>
Ваши покупатели смогут получить свой заказ удобным для них способом. Для этого вам нужно всего лишь настроить способы доставки: самовывоз, Почта России (наложенный платеж, EMS, отправление 1 класса) и др.</p>
			</div>
		</div>
	</li>
	<li>
		
		<div class="spoiler-link">
		<svg class="description_icons" viewBox="0 0 56 56"></svg>
			<h2>Поддержка оплаты заказов, через любые сервисы.</h2>
			<div class="spoiler-body">
				<p>
Оплатить заказ ваши покупатели смогут как при получении товара наличными, так и заранее с помощью встроенной системы автоматического приема оплаты: Банковские карты (Visa/Mastercard), Электронные деньги (WebMoney, Яндекс.Деньги), Мобильные платежи.</p>
			</div>
		</div>
	</li>
	<li>
		
		<div class="spoiler-link">
		<svg class="description_icons" viewBox="0 0 56 56"></svg>
			<h2>Интеграция с сайтом</h2>
			<div class="spoiler-body">
				<p> Интернет-магазин может быть лишь частью вашего сайта. К примеру, пользователь может почитать интересные статьи о вас и характеристике ваших товаров, после чего перейти в интернет-магазин и что-то купить.</p>
			</div>
		</div>
	</li>
</ul>
<svg id="mailBuyBox" viewBox="0 0 100 100"></svg>
<div class="shop-prev"><h2 class="headline">Примеры магазинов</h2>
<div></div>
</div>
<script>

$(document).ready(function(){
// Создать фигуру
var s3 = Snap('#svg1');
var mailBox = Snap('#mailBuyBox')
//var g3 = s3.group();
var circle;

//s3.circle(150, 150, 100);
Snap.load("/img/Description_icons2.svg", onSVGLoaded ) ;
Snap.load("/img/mailBuy.svg", function ( data ){
	
	mailOpened = data.select('#OpenedGrad', '#OpenedCont');
	mailClosed = data.select('#TopBorder');
	mailBox.hover( hoverover, hoverout );
	mailBox.append( data );
} ) ;
function onSVGLoaded( data ){
//console.log('#Pad_icon', data);
	g3 = data.select("#Pad_icon");
	s3.append( g3 );
//	var pad = data.select("#Pad_icon");
//	var usePad = pad.use();
//    g.append(usePad);
//	s2.hover( hoverover, hoverout );
//	$('#svg2 g').append('<svg viewBox="0 0 100 100"><use xlink:href="#Pad_icon"></use></svg>');

}

var hoverover = function () { 
//	mailOpened.animate({ transform: 'r90, 25,25' }, 1000, mina.bounce);
//	mailClosed.animate({ display: 'none'}, 300, mina.linear);
	mailClosed.animate({ transform: 'r90, 25,25' }, 1000, mina.bounce);
};
var hoverout = function () {
//	mailOpened.animate({ display: 'none'}, 300, mina.linear);
//	mailClosed.animate({ display: ''}, 300, mina.linear);
};

$( ".spoiler-link" ).click(function() {
var this_svg = Snap('#'+$('svg', this).attr('id'));
var elipS = this_svg.select('#RoundArrow_4_');
var padJoy = this_svg.select('.padJoy');
if(!$('.spoiler-body', this).is(":visible")){
	$('h2', this).css('color','#d7844d');
	elipS.animate({ transform: 'r90, 25,25' }, 1000, mina.bounce );
	elipS.animate({ fill: '#d7844d'}, 300, mina.linear);
	padJoy.animate({ opacity: '0.6'}, 300, mina.linear);	
} else {	
	$('h2', this).css('color','#4C4646');
	elipS.animate({ transform: 'r0, 25,25' }, 1000, mina.bounce );
	elipS.animate({ fill: '#4C4646'}, 300, mina.linear);
	padJoy.animate({ opacity: '1'}, 300, mina.linear);		
}
$('.spoiler-body', this).stop().slideToggle(300);
});

});



</script>



